- const blogs = [{title: "The 5 things Sketch can do that Photoshop can't", subTitle: "Even if you haven't made the switch yet, you're likely aware of the mass of exodus of Photoshop users switching to Sketch", imgCover: "/assets/images/design-tools.jpg"},{title: "Altered fast food logos and they're going viral on twitter",subTitle: "Not all heroes ware capes",imgCover: "/assets/images/burger.jpg"},{title: "Skill work better with developers",subTitle:"No, this isn't another 'should designers code' article",imgCover: "/assets/images/coding.jpg"},{title: "Designer in USA",imgCover: "/assets/images/us-flag.jpg"},{title: "How to join a great conversation",imgCover: "/assets/images/conversation.jpeg" },{title: "3 things we don't know about design",imgCover: "/assets/images/questions.jpeg"}]
- const banners = [{title: "We can't stop smilling at these 10 pride month designs", imgCover: "/assets/images/banner-1.webp"}, {title: "Welcome to Codegym Blogs", imgCover: "/assets/images/banner-2.jpeg" }]

doctype html
html
	head
		title Uploaded
	body
		h1 Success